<div>
    <div class="min-h-screen max-h-screen flex">
        <!-- Search section -->
        <div class="w-[500px] max-h-[100vh] overflow-y-auto overflow-x-clip p-4 flex-col bg-p_contrast sticky">
            <form [formGroup]="form" class="flex flex-col h-full">
                <div>
                    <div id="logo" class="mb-5">
                        <mat-label id="critic-verse-logo" class="text-3xl w-full" style="background: -webkit-linear-gradient(left, black, #c2185b); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #c2185b;">CRITIC-VERSE</mat-label>
                    </div>
                    <mat-form-field class="w-full">
                        <input matInput placeholder="Search"
                            (keyup)="loadSuggestions()"
                            (keyup)="showSuggestionContainer()"
                            (focus)="showSuggestionContainer()"
                            formControlName="title">
                    </mat-form-field>
                    <fieldset *ngIf="suggestionContainer" class="w-[18.4vw] absolute z-10 bg-[#e5e7eb] pt-5 mt-[-2.3vh] text-center pb-2" style="border-radius: 0px 0px 15px 15px" id="suggestions">
                        <legend *ngIf="!showAlternatives" class="text-xs absolute left-2 mt-[-2vh] text-[#c2185b]">Suggestions</legend>
                        <legend *ngIf="showAlternatives" class="text-xs absolute left-2 mt-[-2vh] text-[#c2185b]">Alternatives</legend>
                        <div class="w-full pb-2" (mouseout)="hideSuggestionContainer()" #suggestions></div>
                    </fieldset>

                    <mat-form-field class="w-full">
                        <mat-label>Genres</mat-label>
                        <mat-select [formControlName]="'genres'" multiple class="w-full">
                            <mat-select-trigger>
                                {{ form.get('genres')?.value?.[0] || '' }}
                                <span *ngIf="(form.get('genres')?.value?.length || 0) > 1"
                                    class="example-additional-selection">
                                    (+{{ (form.get('genres')?.value?.length || 0) - 1 }} {{
                                    form.get('genres')?.value?.length === 2 ? 'other' : 'others' }})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Platforms</mat-label>
                        <mat-select [formControlName]="'platforms'" multiple class="w-full">
                            <mat-select-trigger>
                                {{ form.get('platforms')?.value?.[0] || '' }}
                                <span *ngIf="(form.get('platforms')?.value?.length || 0) > 1"
                                    class="example-additional-selection">
                                    (+{{ (form.get('platforms')?.value?.length || 0) - 1 }} {{
                                    form.get('platforms')?.value?.length === 2 ? 'other' : 'others' }})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let platform of platforms" [value]="platform">{{ platform
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <input matInput [matDatepicker]="startDate" placeholder="Start date"
                            formControlName="start_date">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <input matInput [matDatepicker]="endDate" placeholder="End date" formControlName="end_date">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>

                    <div class="flex flex-col">
                        <label class="m-auto font-bold">User Score</label>
                        <mat-slider min="0" max="10" discrete>
                            <input matSliderStartThumb matInput formControlName="user_score_min">
                            <input matSliderEndThumb matInput formControlName="user_score_max">
                        </mat-slider>
                    </div>

                    <div class="flex flex-col">
                        <label class="m-auto font-bold">Critic Score</label>
                        <mat-slider min="0" max="100" discrete>
                            <input matSliderStartThumb matInput formControlName="critic_score_min">
                            <input matSliderEndThumb matInput formControlName="critic_score_max">
                        </mat-slider>
                    </div>

                    <mat-form-field class="w-full">
                        <mat-label>Sort by</mat-label>
                        <mat-select [formControlName]="'sort_by'" class="w-full">
                            <mat-option *ngFor="let sort of sortTypes" [value]="sort.value">{{ sort.label }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Sort direction</mat-label>
                        <mat-select [formControlName]="'sort_direction'" [(value)]="sortDir" class="w-full">
                            <mat-option *ngFor="let dir of sortDirections" [value]="dir">{{ dir }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="flex flex-col mx-auto mt-4 pb-10">
                    <button mat-fab extended color="primary" class="w-52" (click)="submitForm(0)">
                        <mat-icon>search</mat-icon>
                        Search
                    </button>
                </div>
            </form>
        </div>
        <!-- Results section -->
        <div class="bg-primary sticky w-full">
            <app-list [items]="items" [time]="time" [count]="count" [page]="page+1" [previousBtn]="previousBtn" [nextBtn]="nextBtn" (callPreviousPage)="previousPage()" (callNextPage)="nextPage()"></app-list>
        </div>
    </div>
</div>
