<div>
    <!-- my-form.component.html -->
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Search" formControlName="searchQuery">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Genres</mat-label>
            <mat-select [formControlName]="'selectedGenres'" multiple>
                <mat-select-trigger>
                  {{ form.get('selectedGenres')?.value?.[0] || '' }}
                  <span *ngIf="(form.get('selectedGenres')?.value?.length || 0) > 1" class="example-additional-selection">
                    (+{{ (form.get('selectedGenres')?.value?.length || 0) - 1 }} {{ form.get('selectedGenres')?.value?.length === 2 ? 'other' : 'others' }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
              </mat-select>              
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="selectedOption">
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="selectedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-slider min="200" max="500">
            <input value="300" matSliderStartThumb>
            <input value="400" matSliderEndThumb>
        </mat-slider>


        <button type="submit" (click)="submitForm()">Submit</button>

        <mat-drawer #drawer mode="side">
            <app-details (closeDrawerEvent)="closeDrawer()"></app-details>
        </mat-drawer>
    </form>
</div>