<mat-drawer-container hasBackdrop="false" class="h-full">
    <mat-drawer #drawer position="end" mode="over" style="height: auto !important; position: fixed !important;">
        <app-details [item]="selectedItem" (closeDrawerEvent)="closeDrawer()"></app-details>
    </mat-drawer>
    <mat-drawer-content>
        <div id="list-information" class="h-6 pl-5 z-0 items-center justify-center bg-primary relative mx-4 mt-4 overflow-hidden rounded-xl bg-gray-500 bg-clip-border shadow-lg shadow-gray-500/40 text-gray-700 font-bold">About {{count}} results ({{time}} seconds)</div>
        <div class="h-[89.9vh] overflow-hidden pb-4">
            <div class="m-4 grid grid-cols-4 gap-4 h-full overflow-y-auto overflow-x-clip">
                <div *ngFor="let item of items"
                class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-p_contrast bg-clip-border text-gray-700 shadow-lg">
                    <div
                        class="z-0 relative mx-4 mt-4 overflow-hidden rounded-xl bg-gray-500 bg-clip-border shadow-lg shadow-gray-500/40">
                        <div class="h-[330px] flex items-center justify-center bg-primary">
                            <img src="{{item.images[0]}}" onerror="this.src='assets/not_found.jpg'" alt="Videogame cover" class="object-cover" />
                        </div>
                        <div
                            class="to-bg-black-10 absolute inset-0 h-full w-full bg-gradient-to-tr from-transparent via-transparent to-black/60">
                        </div>
                    </div>
                    <div *ngIf="item.must_play"
                        class="z-10 !absolute rotate-12 top-4 right-4 h-8 max-h-[12px] w-50 max-w-[65px] select-none rounded-full text-center align-middle font-sans text-xs font-medium disabled:pointer-events-none"
                        data-ripple-dark="true">
                        <span
                            class="bg-indigo-100 text-indigo-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-indigo-900 dark:text-indigo-300 whitespace-nowrap">Must
                            Play!</span>
                    </div>
                    <div [ngSwitch]="item.rating" class="w-full">
                        <img *ngSwitchCase="'AO'" src="assets/ratings/AO.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'E'" src="assets/ratings/E.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'E10+'" src="assets/ratings/E10+.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'EC'" src="assets/ratings/EC.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'M'" src="assets/ratings/M.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'RP'" src="assets/ratings/RP.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchCase="'T'" src="assets/ratings/T.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                        <img *ngSwitchDefault src="assets/ratings/RP.svg" alt="Rating" class="object-cover w-8 ml-auto relative bottom-12 right-7" />
                    </div>
                    <div class="p-6 h-[350px] flex flex-col justify-between">
                        <div class="mb-3 flex flex-col items-center justify-between">
                            <h5
                                class="block font-sans text-xl mb-2 font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                                {{item.title}}
                            </h5>
                            <p *ngIf="item.critic_reviews"
                                class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                Critics ({{item.critic_reviews}}):
                                <mat-icon *ngIf="item.metascore > 70" color="primary">star</mat-icon>
                                <mat-icon *ngIf="item.metascore > 40 && item.metascore <= 70"
                                    color="primary">star_half</mat-icon>
                                <mat-icon *ngIf="item.metascore <= 40" color="primary">star_outline</mat-icon>
                                {{item.metascore}}/100
                            </p>
                            <p *ngIf="!item.critic_reviews"
                            class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                No critic ratings for this game
                            </p>
                            <p *ngIf="item.user_reviews"
                                class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                Users ({{item.user_reviews}}):
                                <mat-icon *ngIf="item.user_score > 7" color="primary">star</mat-icon>
                                <mat-icon *ngIf="item.user_score > 4 && item.user_score <= 7"
                                    color="primary">star_half</mat-icon>
                                <mat-icon *ngIf="item.user_score <= 4" color="primary">star_outline</mat-icon>
                                {{item.user_score}}/10
                            </p>
                            <p *ngIf="!item.user_reviews"
                            class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                No user ratings for this game
                            </p>

                            <p  *ngIf="item.release_date"
                                class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                Release date : {{item.release_date}}
                            </p>

                            <p  *ngIf="!item.release_date"
                                class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                No release date available
                            </p>

                            <div *ngIf="item.sentiment">
                                <p
                                    class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                    Public perception
                                </p>
                                <p
                                    class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                    <strong>{{item.sentiment}}</strong>
                                </p>
                            </div>

                            <div *ngIf="!item.sentiment">
                                <p
                                    class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                                    No public perception
                                </p>
                            </div>
                        </div>
                        <div class="pb-3">
                            <button (click)="setItem(item)"
                                class="block w-full select-none rounded-lg bg-accent py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                                type="button" data-ripple-light="true">
                                See more
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="h-6 pl-5 z-0 grid grid-cols-3 justify-center bg-primary relative mx-4 mt-4 mb-4 overflow-hidden rounded-xl bg-gray-500 bg-clip-border shadow-lg shadow-gray-500/40 text-gray-700">
            <button [disabled]="previousBtn" class="btn btn-primary border-r border-gray-500 border-solid" (click)="previousPage()" data-toggle="collapse" alt="Previous page" title="Previous page">
                <mat-icon *ngIf="!previousBtn">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="previousBtn" class="opacity-50">keyboard_arrow_left</mat-icon>
            </button>
            <p class="w-full text-center">Page: <b>{{page}}</b></p>
            <button [disabled]="nextBtn" class="btn btn-primary border-l border-gray-500 border-solid" (click)="nextPage()" data-toggle="collapse" alt="Next page" title="Next page">
                <mat-icon *ngIf="!nextBtn">keyboard_arrow_right</mat-icon>
                <mat-icon *ngIf="nextBtn" class="opacity-50">keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
